* {
  box-sizing: border-box;
  margin: 10px;
  overflow-x:hidden;
  font-family: Arial, Helvetica, sans-serif
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.main{
  padding-top: 10%;
}

.navigation{
  width:100%;
  height:130px;
  display:flex;
  position: fixed;
  background-color: white;
  color: black;
  font-size: 20px;
  padding-left: 5%;
  padding-bottom: 20px;
}

.logo{
  width: 10%;
  height:93px;
  position: fixed;
}

ul{
  position: fixed;
  display:flex;
  padding-left: 10%;
  padding-top: 2%;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}

li{
  margin-right: 20px;
}

/*W3schools*/
a:link {
  color: #d51726;
  text-decoration: none;
}

/* W3 schools */
a:visited {
  color: #9c111c;
  text-decoration: none;
}

.notification {
  width:10%;
  height:15%;
  top:3%;
  left: 60%;
  position: fixed;
  display: inline-block;
  border-radius: 2px;
}

.notification .badge {
  position: absolute;
  top: 1px;
  right: 40px;
  padding: 3px 7px;
  border-radius: 50%;
  background: #d51726;
  color: white;
}

.notif{
  width:50%;
  height:65%;
}

.dm{
  top:4%;
  left:70%;
  position: fixed;
  width:5%;
  height:10%;
}

input[type=search]{
  position: fixed;
  top:7%;
  left:80%;
  width:10%;
  height:5%;
}

.profile{
  width:190px;
  margin:120px;
}
.about{
  width:750px;
  float:right;
  background: darkgrey;
  height: 350px;
  margin: 50px 80px 0px 50px;
}

.works{
  width:1350px;
  background: darkgrey;
  height: 350px;
  margin: 20px 20px 50px 20px;
}
h1{
  font-family: Brush Script MT;
}
p{
  font-size: 20px;
}
.socials{
  width:1350px;
  background:black;
  height:100px;
  margin:20px 20px 50px 20px;
}
p1{
  color:white;
  margin: 30px;

}
.fb{
  width:60px;
  height:60px;
  margin-left: 60px;
}
.ig{
  width:60px;
  height:60px;
  margin-left: 60px;
}
.twitter{
  width:60px;
  height:60px;
  margin-left: 60px;
}
.footer{
  width:1350px;
  height: 150px;
  margin:20px 20px 50px 20px;
  background: #a22833;
}

input[type=search]{
  position: fixed;
  top:7%;
  left:80%;
  width:10%;
  height:5%;
}
